<style>
			*{
				margin:0;
				padding:0;
			}
			body{
				background-image: url("background.jpeg");
				background-size: 1300px 1000px;
				background-repeat: no-repeat;
				
			}
			.top{
				margin-left: auto;
				margin-right:auto;
				height:400px;
				width:100%;
				z-index: 999;
				margin-top: -200px;
			}
			
			.topmiddle {
				height:400px;
				width:500px;
				margin: auto;
				margin-top: 20px;
			}
			.top .profilewrap{
				width: 300px;
				height:350px;
				margin: auto;
			}
			.top #profile{
			    top: 15px; 
			    margin-top: 108px;
				height:220px;
				width:290px;
				border-radius: 50%;
				border: solid 2px white;
			}
			.top .logo{
				height: 50px;
				width:100%;
				display: inline-block;
			} 
			.top .logo .wrap{
				width: 160px;
				height:50px;
				margin:auto;
			}
			.top .logo .wrap #linkedin{
				height: 50px;
				width: 50px;
			}
			.top .logo .wrap #octocat{
				height: 50px;
				width: 90px;
			}
			.middle{
				width:100%;
				height:80%;
				/*position: absolute;*/
				margin-top: 30px;
			}
			.middle .bio{
				margin-left: auto;
				margin-right: auto;
				width:500px;
				height:530px;
				background-color: #f5fffa;
				text-align: center;

			}
			.middle .bio p{
				color:black;
				font-size: 20px;
				margin: auto;
				width:90%;
				height:170px;
				padding-top: 10px; 
				/*overflow-wrap: break-word;*/
			}
			.middle .bio .p .dark_bold {
				font: bold ; 
			}
			
			.slideout-menu {
			  position: fixed;
			  top: 0;
			  bottom: 0;
			  width: 256px;
			  background-color: rgba(96,96,96,1);
			  -webkit-overflow-scrolling: touch;
			  z-index: 0;
			  display: none;
			  color: white;
			}
			.slideout-menu .fname{
				margin-left: 20px;
				margin-top: 20px;
			}
			.slideout-menu .lname{
				margin-left: 100px;
				margin-top: 0px;
			}
			.slideout-menu .menu_listing{
				height: 500px;
				width:200px;
				margin:auto;
				margin-top: 20px;
			}
			.slideout-menu .listing{
				margin-left: 10px;
				list-style-type: none;
				font-size: 20px;
			}
			.slideout-menu .listing #title{
				margin-top: 30px;
				
			}
			.slideout-menu #nest{
			list-style-type: none;
			margin-left: 20px;
			margin-top:4px;
			}
			.slideout-menu #nest:before{
				content: '-';
				position: absolute;
				margin-left: -15px;
			}
			.slideout-menu .listing a{
				color:white;
				text-decoration: none;
			}
			.slideout-menu-left {
			  left: 0;
			}
			.slideout-panel {
				height: 100px;
				width:100px;
			  position: relative;
			  z-index: 1;
			  will-change: transform;
			}

			.slideout-open,
			.slideout-open body,
			.slideout-open .slideout-panel {
			}

			.slideout-open .slideout-menu {
			  display: block;
			}
			.hamburgermenu{
				width:100px;
				height:100px;
				background-color: transparent;
				border-style: none;
			}
			.hamburgermenu:focus{
				outline: none;
			}
			.hamburger-box {
			  margin: auto; 
			  width: 40px;
			  height: 24px;
			  display: block;
			  position: relative; 
			  background-color: rgb(3,46,61);
			  border-style: none;
			  cursor: pointer;

			}
			.hamburger-inner {
			  display: block;
			  top: 50%;
			  margin-top: -2px;

			}
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				border-style: none;
				width: 40px;
				height: 4px;
				background-color: red;
				border-radius: 10px;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease; 

			}
			.hamburger-inner::before, .hamburger-inner::after {
				content: "";
				display: block;
				border-style: none;
			}
			.hamburger-inner::before {
				top: -10px; 
			}
			.hamburger-inner::after {
				bottom: -10px; 
			}
		@media screen and (max-width: 700px) {
			.slideout-panel{
				height: 50px;
				width: 50px;
			}
			.hamburgermenu{
			height:50px;
			width: 50px;
			background-color: transparent;
			}
			.top{
				height:332px;
			}
			.top .topmiddle{
				height:100%;
				width:270px;
			}
			.top .profilewrap{
				height:303px;
				width: 234px;
			}
			.top #profile{
				margin-top: 138px;
				height:160px;
				width:230px;
			}
			.top .logo{
				height:34px;
			}
			.top .logo .wrap{
				height:100%;
				width:113px;
			}
			.top .logo .wrap #linkedin{
				height: 34px;
				width: 34px;
			}
			.top .logo .wrap #octocat{
				height: 34px;
				width: 74px;
			}
			
			.slideout-open,
			.slideout-open body,
			.slideout-open .slideout-panel {
			  overflow: hidden;
			  margin-right: -50px;
			}
			.middle{
				position: unset;
			}
			.middle .bio{
				width:100%;
				height:100%;
			}
			.middle .bio p{
				height:unset;
				width:82%;
				margin:auto;
				font-size: 15px;
				padding-bottom: 3px;
			}
			
		}

		</style>