<style>

	

	body{
		height:100%;
		width:100%;
		}
	#intro{
		height:100vh;
		width:100vw;
	}
	#background{
		height: 100%;
		width:100%;
		opacity: .9;
		z-index: -1;
		position: absolute;
	}
	#leftside{
		height: 100%;
		width:60%;
		position: relative;
		float: left;

	}
	#leftbar{
		height: 59%;
		width: 100%;
		bottom: 0vh;
		position: absolute;
	}
	#name{
		text-align: center;
		width: 100%;
		color: white;
		margin-bottom: 2%;
		margin-left: -50%;
		position: relative;

	}
	#name #fname{
		font-family: 'Montserrat', sans-serif;
		font-size: 60px;
		width:80%;
		margin: auto;
		color:white;
		font-weight: 400;
	}
	#name #title{
		font-family: 'Montserrat', serif;
		font-size: 25px;
		width:38%;
		margin:auto;
		color: white;
		font-weight: 200;
	}	
	#bar{
		height:1%;
		width:117%;
		background-color: white;
		margin-left: -83%;
		position: relative;

	}
	#rightside{
		height:100%;
		width:40%;
		float: right;
		position: relative;

	}
	#upbar{
		height:100vh;
		width:.8%;
		background-color: white;
		margin-top: -100vh;
		position: relative;
	}
	#menu{
		height:20%;
		width:100%;
		float: right;
	}
	#horizontal{
		height: 50%;
		width:100%;
		margin:auto;
		text-align: center;
	}
	.nav{
		display: inline-block;
		color: white;
		padding-right: 10%;
		padding-top: 5%;
		font-family: 'Montserrat', serif;
		font-weight: 100;

	}
	/*#hamburger{
		height: 32%;
		width:48%;
		list-style-type: none;
		margin-top: 40%;
	}
	#hamburger li{
		height: 5px;
		width:95%;
		background-color: white;
		margin-bottom: 8%;
	}
	#hamburger li:nth-child(1){
		width:85%;
	}
	#hamburger li:nth-child(3){
		width:78%;
	}*/

	#middle{
		height: 100vh;
		width:100vw;
		background-color: #F3b09a;
	}
</style>
