#intro{
	height: 108vh;
	width: 100vw;
}
#background{
	height: 108vh;
	width:100%;
	opacity: .9;
	z-index: -1;
	position: absolute;
}
#header{
	color: white;
}
#sometitle{
	margin-top: 25vh;
}
#header h1{
	font-family: 'Montserrat', sans-serif;
	font-size:4em;
	padding-top: 10vh;
}
#header h5{
	font-family: 'Montserrat', serif;
	font-weight: 200;
}
#barWrapper{
	height: 4px;
	margin-left: -125%;
	width: 125%;
}
#scrollWrapper{
	position: absolute;
	bottom: 60px;
	right: 0;
	margin: auto;
	width: 70px;
}
#scroll div {
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scroll div:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scroll div:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#scroll div:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#downWrapper{
	width:4px;
	margin-top: -100%;

}
#capabilities{
	background-color: #FDB813;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 25px;
}
#capabilitiesBox{
  padding: 0;
}
hr{
  margin-top: 0;
  border-top: 3px solid rgba(255,255,255,1);
}
#skills{
	background-color: #36454f;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 25px;
}
#skills div:nth-of-type(7) img{
  width: 165px;
}
#end{
  background-color: #9b9b9b;
}
#profile{
  width: 135px;
}
#end h1{
  font-family: 'Fjalla One', sans-serif;
}
#links{
  background-color: rgba(255,255,255,0.1);
}
@media screen and (max-width: 800px) and (max-height: 800px) {
#header h1{
  font-size: 2em;
}
}